/* Reset e variabili CSS: stile globale */
:root {
  /* =========================================
    VARIABILI GLOBALI - PALET DI COLORI
  ========================================= */

  /* Colori di Sfondo */
  --bg-body: #f8fafc;       /* Sfondo generico della pagina */
  --bg-header: #b7d8f8;     /* Sfondo per la Topbar e Sidebar (azzurro chiaro)*/
  --bg-editor: #ffffff;     /* Sfondo bianco puro per il foglio dell'editor */
  --bg-view: #dbe0e6;       /* Sfondo per l'area di anteprima (più scuro rispetto all'area di testo)*/
  
  /* Colori del Testo */
  --text-main: #08022C;     /* Testo principale (leggibile e blu scuro) */
  --text-muted: #465B77;    /* Testo secondario, placeholder e icone spente */
  
  /* Colori del Brand e interazione/bottoni*/
  --col-primary: #1e293b;   /* Colore scuro forte (Logo o titoli) */
  --col-accent: #3b82f6;    /* Colore "Azione" (es. bordi azzurri, bottoni attivi) */
  
  /* Bordi e Divisori */
  --border-light: #c7cdda;  /* Colore per linee di separazione */

  /* Colori notifiche React-Toast */
  --col-success: #45af4a;
  --col-error: #d32f2f;
  --bg-toast: var(--bg-editor);
}

/* =========================================
   RESET DI BASE
   ========================================= */
/* impone a tutti gli elementi di calcolare i bordi dentro le dimensioni, 
   ed elimina margini e padding indesiderati messi dai browser */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* impostazioni generali */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

/* ==================================================================
   REGOLE DI STAMPA - per stampare solo foglio formattato in markdown
   ================================================================== */
@media print {
  /*margini fisici del foglio */
  @page { margin: 1.5cm; }

  /*nasconde UI dell'app */
  .sidebar, .topbar { 
    display: none !important; 
  }

  /*nasconde UI EasyMDE */
  .editor-toolbar, 
  .editor-statusbar {
    display: none !important;
  }

  /*nasconde area scrittura (codice sorgente) */
  .CodeMirror {
    display: none !important;
  }

  /*mostra e adatta l'anteprima formattata */
  .editor-preview {
    display: block !important;
    width: 100% !important;
    border: none !important;
    padding: 0 !important;
    overflow: visible !important;
    background: transparent !important;
  }

  /* evita spezzamenti indesiderati tra pagine */
  h1, h2, h3, h4, h5, h6, p, pre, blockquote, table, ul, ol, li {
    page-break-inside: avoid;
  }
}